.list {
	display: flex;
}

.list:not(.is-column),
.list.is-row {
	flex-flow: row wrap;
}

.list.is-column {
	flex-flow: column nowrap;
}

.list:not(.is-column) .list__item:not(:first-child),
.list.is-row .list__item:not(:first-child) {
	margin-left: var(--spacing-normal);
}

.list.is-column.is-spaced .list__item:not(:first-child) {
	margin-top: var(--spacing-normal);
}
