{{ $lang := .Site.Language.Lang }}
{{ $defaults := .Site.Data.Defaults.Widgets.About }}
{{ $data := (or .Site.Data.Widgets.About $defaults) }}
{{ $config := ((index $data $lang) | default $data) }}

{{ $BaseURL := .Site.BaseURL | relLangURL }}
<section class="widget widget-about">
	{{ with $config.Logo }}
		<a href="{{ $BaseURL }}">
			<figure class="rounded">
				<img src='{{ . }}' title="{{ $config.Title }}" />
			</figure>
		</a>
	{{ end }}

	<a href="{{ $BaseURL }}">
		<h2 class="title">{{ $config.Title | default .Site.Title }}</h2>
	</a>

	{{ with $config.Tagline }}
		<h5 class="subtitle">{{ . }}</h5>
	{{ end }}
</section>
