{{ $language := .Site.Language.Lang }}
{{ $defaults := .Site.Data.defaults.widgets.poweredBy }}
{{ $config := ( or .Site.Data.widgets.poweredby $defaults ) }}
{{ $data := ( index $config $language ) | default $config }}

<section class="widget widget-powered-by">
	{{ with .Site.Params.Author }}
		<section class="author">{{ . }} &copy; {{ now.Format "2006" }}</section>
	{{ end }}

	<section class="powered">
		{{/*  <span>{{ T "widget.poweredby.text" | default "__powered by__" }}</span>  */}}
		{{ range $data.items }}
			<span><a href="{{ .url }}">{{ .title }}</a></span>
		{{ end }}
	</section>
</section>
