{{- define "meta:type" -}}
<meta property="og:type" content="profile" />
{{- with .Site.Params.Author -}}
{{- $names := (split .name " ") -}}
{{- $firstname := (delimit (first 1 $names) " ") -}}
{{- $lastname := (delimit (after 1 $names) " ") -}}
<meta property="og:profile:first_name" content="{{- $firstname -}}" />
<meta property="og:profile:last_name" content="{{- $lastname -}}" />
{{- end -}}
{{- end -}}

{{- define "content" -}}
<section class="page-single">
	<article>
		<header>
			<h1 class="title is-4">{{- .Title -}}</h1>
		</header>

		{{- partial "layout/header" . -}}

		<div class="content">
			{{- .Content -}}
		</div>

		{{- partial "social/call-to-action" . -}}
	</article>
</section>
{{- end -}}
