{{- define "content" -}}
{{- $email := .Params.contact -}}
{{- if (not $email) -}}{{- errorf "missing value for param 'email': %s" .Position -}}{{- end -}}

<section class="page-single">
	<article>
		<header>
			<h1 class="title is-4">{{- .Title -}}</h1>
		</header>

		{{- partial "layout/header" . -}}

		<div>
			{{- .Content -}}
		</div>

		<form class="is-centered" method="POST" action="https://formspree.io/{{- $email -}}">
			<div class="field">
				<label class="label" for="email">
					{{- T "page.contact.email.label" -}}
				</label>

				<div class="control">
					{{- $placeholder := (T "page.contact.email.placeholder") -}}
					<input class="input" type="email" name="email" id="email" placeholder="{{- $placeholder -}}">
				</div>
			</div>

			<div class="field">
				<label class="label" for="message">
					{{- T "page.contact.message.label" -}}
				</label>

				<div class="control">
					{{- $placeholder := (T "page.contact.message.placeholder") -}}
					<textarea class="textarea has-fixed-size" name="message" id="message" placeholder="{{- $placeholder -}}"></textarea>
				</div>
			</div>

			<div class="field is-grouped">
				<div class="control">
					{{- $placeholder := (T "page.contact.submit.text") -}}
					<input class="button is-primary" type="submit" value="{{- $placeholder -}}">
				</div>
			</div>
		</form>
	</article>
</section>
{{- end -}}
