@keyframes avatar-pulse {
	from { border-color: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l)); }
	95% { border-color: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l)); }
	to { border-color: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) + var(--shade-dark))); }
}

.avatar .avatar__link {
	display: block;
	color: inherit;
}

.avatar .avatar__photo {
	border-radius: 50%;
	background-clip: padding-box;
	border: calc(var(--border-size) * 3) solid hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
	animation: avatar-pulse 12s ease-out 20s infinite alternate;
}

.avatar .avatar__caption .avatar__tagline {
	font-style: italic;
}
