@keyframes avatar-pulse {
	from { border-color: var(--color-secondary); }
	95% { border-color: var(--color-secondary); }
	to { border-color: var(--color-secondary-light); }
}

.avatar {
	margin: 0;
}

.avatar .avatar__link {
	text-decoration: none;
	color: inherit;
}

.avatar .avatar__image {
	border-radius: 50%;
	background-clip: padding-box;
	border: var(--border-size-wide) solid var(--color-secondary);
	animation: avatar-pulse 12s ease-out 20s infinite alternate;
}

.avatar .avatar__caption .avatar__tagline {
	font-style: italic;
}
