.widget-breadcrumb {
	@extend .breadcrumb;
	height: 100%;
	max-width: calc(100vw - 52px - #{$spacing});
	overflow: hidden;

	ul {
		height: 100%;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: unset;
	}
}
