.widget.widget-legal {
	span {
		display: block;
		font-size: .8rem;

		@include ifLargerThan(small) {
			display: unset;

			&:not(:first-child)::before {
				content: "\2D";
				margin: 0 ($spacing-dense / 4);
			}
		}
	}
}
