.widget-powered-by {
	& > .field {
		justify-content: center;

		@include ifLargerThan(small) {
			justify-content: right;
		}

		& > .control > a {
			@extend .tags;
			@extend .has-addons;

			& > span {
				@extend .tag;

				&:first-child {
					@extend .is-dark;
					margin-right: 0;
				}

				&:last-child {
					@extend .is-light;
				}
			}
		}
	}
}
