@import '../../../node_modules/bulma/sass/utilities/mixins';

.search {
	margin-bottom: 1rem;

	&.is-active {
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		position: fixed;

		display: flex;
		flex-flow: column;

		background-color: $white;

		& > input[type=search] {
			margin: 2rem;
			width: calc(100vw - 4rem);
		}

		& > ul {
			display: block;
		}
	}

	& > ul {
		flex-grow: 1;

		margin: 0 2rem 2rem 2rem;
		width: calc(100% - 4rem);
		overflow-y: scroll;
		display: none;

		& > li {
			margin: .6rem;

			&:not(:last-child) {
				border-bottom: 1px solid $dark;
			}

			& > a > h4 > small {
				margin-left: .4rem;
				color: $grey-light;
				font-size: .9rem;
			}
		}
	}
}
