@import '../../../node_modules/bulma/sass/utilities/mixins';

.search {
	margin-bottom: 1rem;

	&.is-active {
		@extend .is-large;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		position: fixed;
		background-color: #fff;

		& > input[type=search] {
			margin: 2rem;
			width: calc(100vw - 4rem);
		}

		& > ul {
			display: block;
		}
	}

	& > ul {
		margin: 0 2rem;
		display: none;

		& > li {
			margin: .6rem;

			&:not(:last-child) {
				border-bottom: 1px solid #ccc;
			}

			& > a > h4 > small {
				margin-left: .4rem;
				color: #aaa;
				font-size: .9rem;
			}
		}
	}
}
