.wall {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.wall .post {
	order: 0;
}

.wall .footer {
	order: 1;
	padding: calc(2 * var(--spacing-wide)) 0;
	text-align: center;
}

.wall .footer .pager {
	animation: pulse 20s ease-in-out infinite alternate;
}

@keyframes pulse {
	0% { transform: translateY(0px); }
	95% { transform: translateY(0px); }
	100% { transform: translateY(10px); }
}
