.wall .pager {
	animation: pulse 20s ease-in-out infinite alternate;
}

@keyframes pulse {
	0% { transform: translateY(0px); }
	95% { transform: translateY(0px); }
	100% { transform: translateY(10px); }
}
