.wall {
	margin: calc(var(--spacing) * 3) 0 !important;
	display: flex;
	flex-flow: column nowrap;
}

.wall > :not(:first-child) {
	margin-top: calc(var(--spacing) * 3) !important;
}

.post {
	display: flex;
	flex-flow: column nowrap;
}
