{{- $name := .Get "name" -}}
{{- $title := .Get "title" -}}
{{- $size:= (.Get "size") | default "180x" -}}

{{- $resource := .Page.Resources.GetMatch $name -}}
{{- if (not $resource) -}}{{- errorf "no argument for field 'resource': %s" .Position -}}{{- end -}}

<div class="column">
	<figure>
		{{- with $resource.Resize $size -}}
		<img src="{{- .RelPermalink -}}" width="{{- .Width -}}" height="{{- .Height -}}" />
		{{- end -}}

		{{- with $title -}}
		<figcaption>{{- . -}}</figcaption>
		{{- end -}}
	</figure>
</div>
