{{- $name := (cond (.IsNamedParams) (.Get "name") (.Get 0)) -}}
{{- $title := (cond (.IsNamedParams) (.Get "title") (.Get 1)) -}}
{{- $size := (cond (.IsNamedParams) (.Get "size") (.Get 2)) | default "180x" -}}

{{- $resource := .Page.Resources.GetMatch $name -}}
{{- if (not $resource) -}}{{- errorf "no argument for field 'resource': %s" .Position -}}{{- end -}}

{{- with .Parent -}}
<div class="column">
{{- end -}}

<figure class="image">
	{{- with $resource.Resize $size -}}
	<img src="{{- .RelPermalink -}}" width="{{- .Width -}}" height="{{- .Height -}}" />
	{{- end -}}

	{{- with $title -}}
	<figcaption>{{- . -}}</figcaption>
	{{- end -}}
</figure>

{{- with .Parent -}}
</div>
{{- end -}}
