{{- $scope := (index . 0) -}}
{{- $data := $scope.Site.Data.Social -}}
{{- $type := (index . 1) -}}

{{- if (not $type) -}}{{- errorf "missing value for param 'type': %s" $scope.Position -}}{{- end -}}

{{- with (index $data $type) -}}
	{{- $permalink := (strings.TrimPrefix "=" (querify "" $scope.Permalink)) -}}
	{{- $title := (strings.TrimPrefix "=" (querify "" $scope.Title)) -}}
	{{- $summary := (strings.TrimPrefix "=" (querify "" ($scope.Summary | htmlEscape))) -}}
	{{- $source := (strings.TrimPrefix "=" (querify "" $scope.Site.BaseURL)) -}}

	{{/*  {{- $url := printf .share $permalink $title $summary $source -}}  */}}

	{{- $url := .share -}}
	{{- $url := replace $url "%permalink%" $permalink -}}
	{{- $url := replace $url "%title%" $title -}}
	{{- $url := replace $url "%summary%" $summary -}}
	{{- $url := replace $url "%source%" $source -}}

	{{- $tooltip := (T (printf "comps.social.share.%s" $type)) -}}
	<a href="{{- $url | safeURL -}}" target="_blank" rel="noopener" title="{{- $tooltip -}}">{{- partial "comps/social/icon" (slice $scope $type) -}}</a>
{{- else -}}
	{{- errorf "social type '%s' not found in data: %s" $type $scope.Position -}}
{{- end -}}
