@import './../vars';

.widget.widget-nav-main {
	ul {
		padding: 0;
		list-style-type: none;

		.active a {
			color: red;
		}
	}

	.sidebar & {
		ul {
			direction: rtl;
		}
	}

	header &,
	footer & {
		header {
			display: none;
		}

		ul {
			display: flex;
			flex-flow: row wrap;

			li:not(:first-child) {
				margin-left: $spacing / 3;
			}
		}
	}
}
