{{- $files := (slice) -}}

{{- $files = $files | append "variables" -}}
{{- $files = $files | append "reset" -}}
{{- $files = $files | append "layouts" -}}
{{- $files = $files | append "modifiers" -}}
{{- $files = $files | append "mods/container" -}}
{{- $files = $files | append "mods/content" -}}
{{- $files = $files | append "mods/form" -}}
{{- $files = $files | append "mods/pilar" -}}
{{- $files = $files | append "mods/tag" -}}
{{- $files = $files | append "mods/title" -}}
{{- $files = $files | append "comps/avatar" -}}
{{- $files = $files | append "comps/more" -}}
{{- $files = $files | append "comps/pager" -}}
{{- $files = $files | append "comps/wall" -}}

{{- $sources := (slice) -}}
{{- range $files -}}
	{{- $fullpath := printf "styles/%s.css" . -}}
	{{- $sources = $sources | append (resources.Get $fullpath | resources.ExecuteAsTemplate $fullpath $) -}}
{{- end -}}

{{- $bundle := $sources | resources.Concat "bundle.css" | minify | fingerprint "sha512" -}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400&display=swap" crossorigin="anonymous" />
<link rel="stylesheet" href="{{- $bundle.Permalink -}}" integrity="{{- $bundle.Data.Integrity -}}" />
