{{- $assets := partialCached "_params/site/assets" . -}}

{{- range $assets.Styles -}}
	{{- $integrity := "" -}}
	{{- if (isset . "Integrity") -}}{{- $integrity = printf "integrity='%s'" .Integrity -}}{{- end -}}

	{{- $crossorigin := "" -}}
	{{- if (isset . "Crossorigin") -}}{{- $crossorigin = printf "crossorigin='%s'" .Crossorigin -}}{{- end -}}

	<link rel="stylesheet" href="{{- .Permalink -}}" {{- $integrity | safeHTMLAttr -}} {{- $crossorigin | safeHTMLAttr -}} />
{{- end -}}

{{- range $assets.Scripts -}}
	{{- $integrity := "" -}}
	{{- if (isset . "Integrity") -}}{{- $integrity = printf "integrity='%s'" .Integrity -}}{{- end -}}

	{{- $crossorigin := "" -}}
	{{- if (isset . "Crossorigin") -}}{{- $crossorigin = printf "crossorigin='%s'" .Crossorigin -}}{{- end -}}

	<script defer="true" src="{{- .Permalink -}}" {{- $integrity | safeHTMLAttr -}} {{- $crossorigin | safeHTMLAttr -}}></script>
{{- end -}}
