<!-- Custom Styles -->
{{- $opts := (dict "targetPath" "/styles/bundle.css" "outputStyle" "compressed" "enableSourceMaps" true) -}}
{{- $styles := resources.Get "styles/index.scss" | resources.ToCSS $opts -}}
{{- $syntax := resources.Get "styles/syntax.css" -}}
{{- $bundle := slice $styles $syntax | resources.Concat "styles/bundle.css" | resources.Minify | resources.Fingerprint "sha512" -}}
<link rel="stylesheet" href="{{- $bundle.Permalink -}}" integrity="{{- $bundle.Data.Integrity -}}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous" />

{{- if (.HasShortcode "timeline") -}}
<link rel="stylesheet" href="https://gitcdn.link/repo/Wikiki/bulma-timeline/master/dist/css/bulma-timeline.min.css" />
{{- end -}}
