{{- $title := (cond (.IsNamedParams) (.Get "title") (.Get 0)) -}}
{{- $class := (cond (.IsNamedParams) (.Get "class") (.Get 0)) -}}
{{- $markerClass := "is-primary" -}}

{{- if (eq $class "is-primary") -}}{{- $markerClass := "is-danger" -}}{{- end -}}

<div class="timeline-item {{ $class }}">
	<div class="timeline-marker {{ $markerClass }}"></div>
	<div class="timeline-content">
		{{- with $title -}}
			<div class="heading">{{- . -}}</div>
		{{- end -}}

		<span>{{- .Inner | markdownify -}}</span>
	</div>
</div>
