:root {
	--color-primary-1: #FFF0A3;
	--color-primary-0: #D3BC47;
	--color-primary-4: #8F790D;

	--color-secondary-1-1: #DD8DB9;
	--color-secondary-1-0: #AB3977;
	--color-secondary-1-4: #740A44;

	--color-secondary-2-1: #77B6B9;
	--color-secondary-2-0: #2B7C7F;
	--color-secondary-2-4: #085357;

	--accent-color: var(--color-secondary-2-4);
	--border-width: .4rem;
}

/* globals */

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

a {
	color: var(--color-secondary-2-0);
	text-decoration: none;
}

a:hover {
	color: var(--color-secondary-2-4);
}

/* --- layout --- */

.layout {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.layout > .main {
	border-top: var(--border-width) solid var(--accent-color);
}

.layout > footer {
	border-bottom: var(--border-width) solid var(--accent-color);
}

/* --- navigation --- */

.mainnav > ul {
	list-style: none;
}

.mainnav > ul > .item {
	margin-top: 2rem;
	text-align: center;
}

.mainnav > ul > .item > a {
	display: block;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.mainnav > ul > .logo > a {
	display: block;
	height: 6rem;
	background-image: url('/images/logo.jpg');
}

/* card block*/

.card {
	padding: 1.5rem;
	margin-bottom: 1rem;
	display: block;
}

.card.feature {
	background-color: var(--color-primary-0);
}

.card.feature > a {
	display: block;
	text-align: center;
}

/* about */

.about img {
	width: 100%;
}
