/* globals */

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: var(--font-family);
}

a {
	color: var(--color-secondary-2-0);
	text-decoration: none;
}

a:hover {
	color: var(--color-secondary-2-4);
	text-decoration: underline;
}

.center {
	text-align: center;
}

/* --- layout --- */

.layout {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.layout > .main {
	border-top: var(--border-width) solid var(--accent-color);
}

.layout > footer {
	border-bottom: var(--border-width) solid var(--accent-color);
}

/* --- navigation --- */

.mainnav > ul {
	list-style: none;
}

.mainnav > ul > .item {
	margin-top: 2rem;
	text-align: center;
}

.mainnav > ul > .item > a {
	display: block;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.mainnav > ul > .item.active > a {
	color: var(--color-secondary-2-4);
	text-decoration: underline;
}

.mainnav > ul > .logo > a {
	display: block;
	height: 6rem;
}

.mainnav > ul > .logo > a > img {
	width: 100%;
}

/* --- search --- */

#search {
	position: relative;
}

#search > .results {
	padding: 0;
	margin: 0;
	width: 100%;
	display: none;
	position: absolute;
	border: 1px solid var(--color-secondary-2-1);
	background-color: var(--color-primary-1);
	border-radius: .4rem;
	list-style: none;
	z-index: 1;
}

#search > .results.active {
	display: block;
}

#search > .results > li {
	margin-bottom: 0;
	text-align: left;
	border-bottom: 1px dashed var(--color-secondary-2-1);
}

#search > .results > li:last-child {
	border-bottom: 0;
}

#search > .results > li > .item {
	padding: .9rem 1.2rem;
	margin: .3rem 0;
	display: block;
}

#search > .results > li > a:hover {
	color: var(--color-primary-1);
	background-color: var(--color-secondary-2-0);
}

/* --- pagination --- */

.pager {
	display: block;
	text-align: center;
}

.pager > a {
	padding: 1.2rem;
	display: inline-block;
}

/* --- summary --- */

.summary {
	list-style: none;
	clear: both;
}

.summary.list {
	clear: both;
}

.summary.list > li {
	float: left;
}

/* --- hero block --- */

.hero {
	padding: 2rem 0;
	margin: 4rem 0;
	color: var(--color-primary-1);
	background-color: var(--color-secondary-2-0);
}

/* --- card block --- */

:root {
	--normal: 1.5rem;
	--zoomed: 1.5rem;
	--speed: .3s;
}

.card {
	padding: var(--normal);
	margin-bottom: 1rem;
	display: block;
}

.card img {
	width: 100%;
}

/* --- feature --- */

.feature {
	position: relative;
	background-color: var(--color-primary-1);
}

.feature > img {
	position: relative;
}

.feature.animate,
.feature.animate > img {
	transition: padding var(--speed);
	transition: filter calc(var(--speed) * 2);
}

.feature.animate > img {
	filter: grayscale(1);
}

.feature.animate:hover {
	padding: var(--zoomed);
}

.feature.animate:hover > img {
	filter: grayscale(0);
}

.feature > h4 {
	bottom: 2rem;
	left: 0;
	display: block;
	position: absolute;
}

.feature small {
	top: 2rem;
	right: 0;
	display: block;
	position: absolute;
}

.feature > h4 > span,
.feature > small > span {
	padding: .2rem 1.2rem;
	color: var(--color-primary-0);
	background-color: #000;
	background-color: rgba(0, 0, 0, .7);
}




/* --- section --- */

.section {
	margin-bottom: 5rem;
}

.section > h3 {
	text-align: center;
}

.section > h3 > span {
	padding: .2rem 1.2rem;
	color: var(--color-primary-0);
	background-color: var(--color-secondary-2-0);
}


/* +++ legal +++ */

.legal {
	color: var(--color-secondary-2-4);
	font-size: 1.1rem;
	font-weight: lighter;
	text-align: center;
}
