{{- $scope := (index . 0) -}}
{{- $separator := (index . 1) | default "»" -}}
{{- $separator = (print " " $separator " ") -}}

{{- $parts := slice -}}

{{- if (eq "" $scope.Page.Title) -}}{{- warnf "Page title is empty" -}}
{{- else -}}{{- $parts = slice $scope.Page.Title -}}{{- end -}}

{{- if (and $scope.Section $scope.Page.IsPage) -}}
	{{- $parts = $parts | append $scope.Section -}}
{{- end -}}

{{- $site_name := partialCached "_params/site/name" (slice $scope) -}}
{{- return printf "%s | %s" (delimit $parts $separator) $site_name -}}
