.single .translations::before,
.list .translations::after {
	content: "\f7a2";
	font-weight: 900;
}

.translations__items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.translations__items *:not(:first-child) {
	margin-right: var(--spacing-dense);
}

#translations:not(:target) {
	display: none;
}
