.share {
	display: flex;
	flex-flow: column;
	align-items: center;

	& > ul {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;

		& > li {
			margin: 0 .5rem;
			font-size: 1.2rem;
		}
	}
}
