<!DOCTYPE html>
{{- $locale := partial "funcs/locale/get-for-title" . -}}
<html lang="{{- $locale -}}">
	<head>
		{{- partial "controls/head/title" -}}
		{{- partial "controls/head/locale" . -}}
		{{- block "custom:meta" . -}}{{- end -}}

		{{- block "opengraph:type" . -}}
			<meta property="og:type" content="website" />
		{{- end -}}

		{{- partial "controls/head/links" . -}}

		{{- partial "controls/head/assets/styles" . -}}
		{{- block "custom:styles" . -}}{{- end -}}

		{{- partial "controls/head/assets/scripts" . -}}
		{{- block "custom:scripts" . -}}{{- end -}}
	</head>

	<body>
		<div class="l-page">
			<div>
				{{- block "content" . -}}
					<!-- content -->
				{{- end -}}
			</div>

			{{- partial "views/footer" -}}
		</div>
	</body>
</html>
