<!DOCTYPE html>
<html lang="en">
	<head>
		{{- partial "head/meta/meta" . -}}
		{{- partial "head/meta/title" . -}}
		{{- partial "head/meta/locale" . -}}
		{{- partial "head/meta/links" . -}}

		{{- block "opengraph:type" . -}}
			<meta property="og:type" content="website" />
		{{- end -}}

		{{- partial "head/assets/styles" . -}}
		{{- partial "head/assets/scripts" . -}}
	</head>

	{{- $pageclass := partialCached "_func/classnames" (dict "l-page" true "pilar" true "is-x3" true "is-home" .Page.IsHome) .Page.IsHome -}}
	<body class="{{- $pageclass -}}">
		<article class="l-content pilar is-grow">
			{{- block "content" . -}}
				<!-- place content here -->
			{{- end -}}
		</article>

		<footer class="l-footer is-small">
			{{- partial "layout/footer/sections" . -}}
			{{- partial "layout/footer/legal" . -}}
		</footer>
	</body>
</html>
