{{- define "content" -}}
	{{- partial "comps/avatar" . -}}
	{{- partial "comps/search" . -}}

	{{- $pages := .RegularPages -}}
	{{- if (eq .Layout "aggregator")  -}}
		{{- $pages = (where .Site.RegularPages ".Type" "!=" "page") -}}
	{{- end -}}

	{{- $paginator := .Paginate $pages -}}
	<section class="l-list timeline">
		{{- partial "list/pager/prev" $paginator -}}

		{{- range $paginator.Pages -}}
			{{- .Render "list-item" -}}
		{{- end -}}

		{{- partial "list/pager/next" $paginator -}}
	</section>
{{- end -}}
