<article class="wall__item post pilar">
	{{- $link := .RelPermalink -}}
	<header class="post__header has-text-centered">
		<h2 class="title"><a rel="noopener" href="{{- $link -}}" title="{{- .Title -}}">{{- .Title -}}</a></h2>
	</header>

	<aside class="post__aside pilar is-horizontal is-small has-centered">
		{{- partial "comps/aside/category" . -}}
		{{- partial "comps/aside/reading" . -}}
	</aside>

	<div class="is-grow">
		{{- .Summary -}}
	</div>

	<footer class="post__footer is-dark has-text-centered">
		{{- if .Truncated -}}
			<a rel="noopener" class="u-full-width" href="{{- $link -}}">{{- T "base.list.more.text" -}}</a>
		{{- end -}}
	</footer>
</article>
