{{- define "opengraph:type" -}}
	<meta property="og:type" content="article" />
	{{- partial "layout/head/meta/author" . -}}
	{{- partial "layout/head/meta/title" . -}}
	{{- partial "layout/head/meta/summary" . -}}
	{{- partial "layout/head/meta/publish-date" . -}}
	{{- partial "layout/head/meta/modified-date" . -}}
	{{- partial "layout/head/meta/expiry-date" . -}}
	{{- partial "layout/head/meta/category" . -}}
{{- end -}}

{{- define "content" -}}
	<article class="single post h-entry">
		{{- partial "comps/avatar" . -}}
		<h1 class="single__title p-name">{{- .Title -}}</h1>

		<aside class="single__aside list take-direct has-centered is-faded">
			{{- partial "single/aside/category" . -}}
			{{- partial "single/aside/published-date" . -}}
			{{- partial "single/aside/reading-time" . -}}
			{{- partial "single/aside/permalink" . -}}
			{{/*  {{- partial "single/aside/offline" . -}}  */}}
			{{- partial "single/aside/translations" . -}}
		</aside>

		{{- partial "single/heros/translations" . -}}

		<section class="single__content e-content">{{- .Content -}}</section>
		{{- partial "comps/social/share" . -}}

		<footer class="footer is-flex">
			{{- partial "single/pager/prev.html" . -}}
			{{- partial "single/pager/back.html" . -}}
			{{- partial "single/pager/next.html" . -}}
		</footer>
	</article>
{{- end -}}
