{{- if (isset .Site.Params.Author "logo") -}}
	{{- $img := (resources.Get .Site.Params.Author.Logo) -}}
	{{- with $img -}}
		<meta property="og:image" content="{{- $img.Permalink -}}" />
	{{- end -}}
{{- else -}}
	{{- if (isset .Site.Params.Author "email") -}}
		<meta property="og:image" content="https://www.gravatar.com/avatar/{{- md5 .Site.Params.Author.Email -}}?s=180&d=identicon" />
	{{- else -}}
		<meta property="og:image" content="https://www.gravatar.com/avatar?s=180&d=identicon" />
	{{- end -}}
{{- end -}}
