{{- $files := (slice) -}}

{{- $normalize := "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" -}}
{{- $files = $files | append (dict "Permalink" $normalize "Integrity" "sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" "Crossorigin" "anonymous") -}}

{{- $skeleton := "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" -}}
{{- $files = $files | append (dict "Permalink" $skeleton "Integrity" "sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" "Crossorigin" "anonymous") -}}

{{- $fontawesome := "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" -}}
{{- $files = $files | append (dict "Permalink" $fontawesome "Integrity" "sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" "Crossorigin" "anonymous") -}}

{{- $bundle := partialCached "head/assets/bundle-styles" . -}}
{{- $files = $files | append (dict "Permalink" $bundle.Permalink "Integrity" $bundle.Integrity ) -}}

{{- range $files -}}
	{{- $integrity := "" -}}
	{{- if (isset . "Integrity") -}}{{- $integrity = printf "integrity='%s'" .Integrity -}}{{- end -}}

	{{- $crossorigin := "" -}}
	{{- if (isset . "Crossorigin") -}}{{- $crossorigin = printf "crossorigin='%s'" .Crossorigin -}}{{- end -}}

	<link rel="stylesheet" href="{{- .Permalink -}}" {{- $integrity | safeHTMLAttr -}} {{- $crossorigin | safeHTMLAttr -}} />
{{- end -}}
