<section class="avatar">
	<a href="{{- .Site.Home.RelPermalink -}}">
		<figure>
			{{- if (isset .Site.Params.Author "logo") -}}
				{{- $img := (resources.Get .Site.Params.Author.Logo) -}}
				{{- with $img -}}
					<img src="{{- .RelPermalink -}}" />
				{{- end -}}
			{{- else -}}
				{{- if (isset .Site.Params.Author "email") -}}
					<img src="https://www.gravatar.com/avatar/{{- md5 .Site.Params.Author.Email -}}?s=180&d=identicon" />
				{{- else -}}
					<img src="https://www.gravatar.com/avatar?s=180&d=identicon" />
				{{- end -}}
			{{- end -}}

			<figcaption>
				<h2 class="title is-5">{{- .Site.Params.Author.Name -}}</h2>

				{{- if .Page.IsHome -}}
					<h4 class="subtitle is-7">
						{{- .Site.Params.Author.Tagline | emojify -}}

						{{- with .Site.Params.Author.Tagline2 -}}
							<br />{{- . | emojify -}}
						{{- end -}}
					</h4>
				{{- end -}}
			</figcaption>
		</figure>
	</a>
</section>
