<figure class="avatar h-card has-text-centered">
	{{- $link := .Site.Home.Permalink -}}
	{{- $name := partialCached "_func/author/name" . -}}
	{{- $photo := partialCached "_func/author/photo" . .Page.IsHome -}}
	{{- $disabled := "" -}}{{- if .Page.IsHome -}}{{- $disabled = "disabled" -}}{{- end -}}

	<a rel="noopener" class="avatar__link u-url" href="{{- $link -}}" {{- $disabled | safeHTMLAttr -}}>
		<img class="avatar__photo u-photo" src="{{- $photo.Permalink -}}" alt="{{- $photo.Alt -}}" width="{{- $photo.Width -}}" height="{{- $photo.Height -}}" />

		<figcaption class="avatar__caption">
			{{- if .Page.IsHome -}}
				<h1 class="avatar__name title is-3 p-name">{{- $name -}}</h1>
				{{- with .Site.Params.Author.Tagline -}}<h2 class="avatar__tagline subtitle is-5">{{- . | emojify -}}</h2>{{- end -}}
			{{- else -}}
				<span class="avatar__name title is-5 p-name">{{- $name -}}</span>
			{{- end -}}
		</figcaption>
	</a>
</figure>
