{{- $menu := (index . 0) -}}
{{- $scope := (index . 1) -}}
{{- $style := (index . 2) | default "list" -}}
{{- $data := (index $scope.Site.Menus $menu) -}}
{{- $params := $scope.Param (printf "menu.%s" $menu) -}}

{{- with $data -}}
	<section class="widget widget-menu menu-{{- $menu -}}">
		{{- if ($scope.Param "showHeaders") -}}
			<header>
				<h2 class="title is-4">{{- T "widget.navmain.title" | default "Navigation" -}}</h2>
			</header>
		{{- end -}}

		<ul>
			{{- range . -}}
				{{- $classNames := cond ( $scope.IsMenuCurrent $menu . ) "is-active" "" -}}

				<li>
					<a class="{{- $classNames -}}" href="{{- .URL | relLangURL -}}" title="{{- .Title | default .Name -}}" target="{{- $params.target -}}">
						{{- with .Pre -}}
							{{- if eq $style "icons" -}}
								<i class="{{- . -}}"></i>
							{{- else -}}
								{{- . -}}
							{{- end -}}
						{{- end -}}

						{{- with .Name -}}
							{{- if eq $style "icons" -}}
							{{- else -}}
								{{- . -}}
							{{- end -}}
						{{- end -}}
					</a>
				</li>
			{{- end -}}
		</ul>
	</section>
{{- end -}}
