<section class="widget widget-powered-by">
	{{ if (.Param "showHeaders") }}
		<header>
			<h2 class="title is-3">{{ T "widget.poweredby.title" | default "Powered by" }}</h2>
		</header>
	{{ end }}

	<div class="field is-grouped is-grouped-multiline">
		{{ range .Site.Params.poweredBy }}
			<div class="control">
				<a href="{{ .url }}" title="{{ .title }}">
					<span>test</span>
					<span>
						<img src="{{ .badge }}" alt="{{ .title }}" />
					</span>
				</a>
			</div>
		{{ end }}
	</div>
</section>
