.avatar,
.avatar a/*:not(:hover)*/ {
	color: var(--color-tertiary);
}

.avatar .u-photo {
	max-width: 200px;
	max-height: 200px;
}

.l-content:not(.is-home) .avatar {
	font-size: .75rem;
}

.l-content:not(.is-home) .avatar img {
	max-width: 120px;
	max-height: 120px;
}
