.figure,
.figure > figcaption {
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.figure img {
	border: var(--border-normal) solid var(--color-tertiary);
	border-radius: var(--spacing-normal);
}

.figure h2,
.figure h4 {
	margin: 0;
}

/* overrides */
.avatar .figure img {
	border-radius: 45%;
}
