.list .list_item {
	display: flex;
}

.list .pager {
	width: 100%;
	display: block;
	padding: var(--spacing-normal);
	text-align: center;
}

.list .list_item:not(:first-child) {
	margin-top: var(--spacing-normal);
}

.list .list_item > *:first-child {
	text-align: right;
}

.list .list_item > *:not(:first-child) {
	margin-left: var(--spacing-wide);
}

.list .list_item aside {
	color: #333;
}

.list .list_item header .title {
	margin: 0;
}
