.list .list_item {
	display: flex;
}

.list .list_item:not(:first-child) {
	margin-top: var(--spacing-normal);
}

.list .list_item > *:first-child {
	text-align: right;
}

.list .list_item > *:not(:first-child) {
	margin-left: var(--spacing-wide);
}

.list .list_item aside {
	color: var(--color-faded);
}

.list .list_item header .title {
	margin: 0;
}
