.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	-webkit-overflow-scrolling: touch;
}

.list .list__item {
	display: flex;
	scroll-snap-align: start;
}

.list .list__item:not(:first-child) {
	margin-top: var(--spacing-normal);
}

.list .list__item > *:not(:first-child) {
	margin-left: var(--spacing-wide);
}

.list .list__item aside {
	color: var(--color-faded);
}

.list .list__item header .title {
	margin: 0;
}
