.popup:target,
.popup.is-open {
	left: var(--spacing-dense);
	top: var(--spacing-dense);
	padding: var(--spacing-wide);
	width: calc(100vw - (var(--spacing-dense) * 2));
	height: calc(100vh - (var(--spacing-dense) * 2));
	position: fixed;
	z-index: 1;
	display: flex;
	flex-flow: column;

	align-items: unset;
	background-color: #fff;
}

.popup:target > *:not(.popup__header),
.popup.is-open > *:not(.popup__header) {
	margin-top: var(--spacing-wide);
}

.popup .popup__header,
.popup .popup__footer,
.popup .popup__body,
.popup:target .is-hidden-when-open,
.popup.is-open .is-hidden-when-open {
	display: none;
}

.popup:target .popup__header,
.popup:target .popup__footer,
.popup:target .popup__body,
.popup.is-open .popup__header,
.popup.is-open .popup__footer,
.popup.is-open .popup__body {
	display: block;
}

.popup .popup__header {
	margin-top: calc(var(--spacing-wide) * -1);
	margin-left: calc(var(--spacing-wide) * -1);
	margin-right: calc(var(--spacing-wide) * -1);
	clear: both;
	font-weight: bold;
}

.popup .popup__header .popup__header__title,
.popup .popup__header .popup__header__close {
	padding: var(--spacing-normal);
	display: inline-block;
	background-color: var(--color-tertiary);
}

.popup .popup__header .popup__header__close {
	cursor: pointer;
}

.popup .popup__body {
	flex-grow: 1;
}
