.search.is-open {
	margin-top: 0;
}

.input:not(.is-working) .fa-spinner {
	display: none;
}

.search .search__results > .search__item {
	align-items: center;
}

.search .search__results .search__item .search__link {
	padding: var(--spacing-dense);
	width: 100%;
	display: block;
}

.search .search__results .has-icon::before {
	margin-right: var(--spacing-normal);
	display: block;

	font-size: 2rem;
	content: "\f128";
	font-weight: 900;
}

.search .search__results .is-home::before {
	content: "\f015";
}

.search .search__results .is-page::before {
	content: "\f1ea";
}

.search .search__results .is-section::before,
.search .search__results .is-taxonomyTerm::before {
	content: "\f03a";
}

.search .search__results .is-taxonomy::before {
	content: "\f292";
}
