.single {
	width: 100%;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.single .single__title {
	margin: var(--spacing-wide);
	text-align: center;
}

.single .single__aside {
	display: flex;
	flex-flow: row wrap;
}

.single .single__aside > *:not(:first-child):not(:target) {
	margin-left: var(--spacing-wide);
}

.single .single__aside > *::before {
	margin-right: var(--spacing-dense);
}

.single .single__content {
	flex-grow: 1;
}
