.single {
	width: 100%;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.single > h1 {
	margin: var(--spacing-wide);
	text-align: center;
}

.single > aside {
	display: flex;
	flex-flow: row wrap;
}

.single > aside > *:not(:first-child):not(.is-open) {
	margin-left: var(--spacing-wide);
}

.single > aside > *::before {
	margin-right: var(--spacing-dense);
}

.single .content {
	flex-grow: 1;
}
