.burger-container {
	top: 0;
	right: 0;
	position: absolute;
	text-align: right;

	.burger {
		@extend .navbar-burger;
	}

	@include media(small) {
		display: none;
	}
}

.sidebar {
	min-width: 100vw;
	display: none;
	text-align: center;

	&.is-active {
		display: block;
	}

	@include media(small) {
		min-width: (16rem - $spacing);
		margin-right: $spacing;
		padding-right: $spacing;
		display: block;
		text-align: right;
	}

	.widget:not(:first-child)::before {
		content: "";
		display: block;
		width: 3rem;
		margin: $spacing auto $spacing auto;
		border-top: 2px solid #333;

		@include media(small) {
			margin-right: 0;
		}
	}
}
