<section class="popup offline-data-manager is-hidden-if-noscript">
	<header class="popup__header is-clear-both">
		<div class="is-pulled-left">
			<span class="popup__header__title">TODO: Offline Data Manager</span>
		</div>

		<div class="is-pulled-right">
			<a class="popup__header__close" data-action="close"><i class="fas fa-fw fa-lg fa-times"></i></a>
		</div>
	</header>

	<span class="popup__subject is-hidden-when-open">
		some text <a data-action="open">kldsfjlkdf</a>
	</span>

	<section class="popup__body">
		<ul id="offline-data"></ul>
	</section>

	<footer class="popup__footer">
		<a class="button is-fullwidth is-faded" data-action="close" data-offline="revoke">{{- T "offline.footer.revoke.text" -}}</a>
	</footer>
</section>
