// # Font settings
// ####################################
$font: var(--font-family);

// # Density settings
// ####################################
$spacing: 1.6rem;


$pageBreak: 960px;



/*  <style>

	:root {
		--color-primary-1: #FFF0A3;
		--color-primary-0: #D3BC47;
		--color-primary-4: #8F790D;

		--color-secondary-1-1: #DD8DB9;
		--color-secondary-1-0: #AB3977;
		--color-secondary-1-4: #740A44;

		--color-secondary-2-1: #77B6B9;
		--color-secondary-2-0: #2B7C7F;
		--color-secondary-2-4: #085357;

		--accent-color: var(--color-secondary-2-4);
		--border-width: .4rem;
	}

	</style>  */
