.l-page {
	margin: var(--spacing-dense);
	padding: var(--spacing-wide);

	min-height: calc(100% - var(--spacing-dense));
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}

.l-page > *:not(:last-child) {
	flex-grow: 1;
}

.l-content > *:not(:first-child) {
	margin-top: calc(var(--spacing-wide) * 2)
}
