.l-page {
	padding-top: calc(var(--spacing) * 3);
	position: relative;
}

.is-home .l-content {
	justify-content: center;
}

.l-page .l-content > *,
.l-page .l-footer {
	margin-bottom: calc(var(--spacing) * 3);
}
