.l-page {
	margin: var(--spacing-dense);
	padding: calc(var(--spacing-wide) * 2) 0;

	min-height: calc(100% - var(--spacing-dense));
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}

.l-page > *:not(:last-child) {
	flex-grow: 1;
}

.l-page > *:not(:last-child).is-home {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.l-content {
	width: 100%;
	padding: 0 calc(var(--spacing-wide) * 2);
	max-width: var(--break-max-width);
	display: flex;
	flex-flow: column;
	align-items: center;
}

.l-content > *:not(:first-child) {
	margin-top: calc(var(--spacing-wide) * 2)
}
