// layout made with help from:
// https://stackoverflow.com/questions/35559104/flexbox-ordering-splitting-a-column



.layout {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;

	%centered-if-small {
		text-align: center;

		@include ifLargerThan(small) {
			text-align: inherit;
		}
	}

	%padding-for-sidebar {
		@include ifLargerThan(small) {
			padding-left: map-get($sidebar-width, small);
		}

		@include ifLargerThan(medium) {
			padding-left: map-get($sidebar-width, medium);
		}
	}

	& > header {
		@extend %centered-if-small;
		@extend %padding-for-sidebar;
		margin-top: $spacing-dense;
	}

	& > footer {
		@extend %centered-if-small;
		@extend %padding-for-sidebar;
		margin-bottom: $spacing-dense;
	}

	& > .page {
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;
		place-content: flex-start;
		min-height: inherit;
		height: inherit;

		@include ifLargerThan(small) {
			flex-wrap: wrap;
		}

		%page-part {
			padding: 0 $spacing-dense;
		}

		& > aside {
			@extend %page-part;
			width: 100vw;
			text-align: center;

			&.top {
				order: 10;
				display: none;

				@include ifLargerThan(small) {
					display: block;
				}

				&.is-active {
					display: block;
				}
			}

			&.bottom {
				order: 30;

				@include ifLargerThan(small) {
					order: 15;
					flex-grow: 1;
				}
			}

			@include ifLargerThan(small) {
				width: map-get($sidebar-width, small);
				text-align: right;
			}

			@include ifLargerThan(medium) {
				width: map-get($sidebar-width, medium);
			}

			& > .widget {
				&.widget:not(:first-child) {
					@include flare(after, 3rem, right);
				}

				header {
					margin-bottom: $spacing-dense;
				}
			}
		}

		& > main {
			@extend %page-part;
			order: 20;
			flex-grow: 1;
			margin-bottom: $spacing-dense;

			@include ifLargerThan(small) {
				width: calc(100% - #{map-get($sidebar-width, small)});
				flex-basis: 100%;
			}

			@include ifLargerThan(medium) {
				width: calc(100% - #{map-get($sidebar-width, medium)});
			}

			@include ifLargerThan(large) {
				max-width: map-get($breakpoints, large);
			}

			& header {
				@include flare(after, 50%, left);
			}
		}
	}
}
