.layout {
	height: calc(100vh - 2rem);
	margin: 1rem;
	display: flex;
	flex-flow: column;

	& > .content {
		flex-grow: 1;
		display: flex;
		flex-flow: column;

		%centered {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}

		& > .home {
			@extend %centered;
			height: 100%;
		}

		& > .list {
			@extend %centered;
		}
	}

	& > footer {
		height: 6rem;
	}
}
