.layout {
	height: calc(100vh - 2rem);
	margin: 1rem;
	display: flex;
	flex-flow: column;

	& > .content {
		flex-grow: 1;
		display: flex;
		flex-flow: column;

		%centered {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}

		& > .page-home {
			@extend %centered;
			height: 100%;
		}

		& > .page-list {
			@extend %centered;
		}

		& > .page-home > *:not(:first-child),
		& > .page-list > *:not(:first-child),
		& > .page-single > article > *:not(:first-child) {
			margin-top: 1rem;
		}
	}

	& > footer {
		height: 6rem;
		margin-top: 2rem;
	}
}
