html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-weight: 400;
	font-size: var(--font-size);
	font-family: var(--font-family);
	color: hsl(var(--color-text-h), var(--color-text-s), var(--color-text-l));
	position: relative;
}

a {
	text-decoration: none;
	color: hsl(var(--color-link-h), var(--color-link-s), var(--color-link-l));
}

a:hover, a:active { color: hsl(var(--color-link-h), var(--color-link-s), calc(var(--color-link-l) + var(--darken))); }
a:disabled, a[disabled] {
	color: inherit;
	cursor: default;
	pointer-events: none;
}

:not(.content) ul {
	list-style-type: none;
}

figure, h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
	padding: 0;
}
