/* -- Colors -- */
/* ------------ */

.is-faded {
	color: var(--color-faded);
	font-size: .8rem;
	font-style: italic;
}

/* -- Layout -- */
/* ------------ */

.is-flex {
	display: flex;
}

.has-centered {
	flex-flow: column;
	align-items: center;
	/* justify-content: center; */
}

.is-nowrap {
	flex-wrap: nowrap !important;
}

.is-clear-both {
	clear: both;
}

.is-pulled-left {
	float: left;
}

.is-pulled-right {
	float: right;
}

.is-fullwidth {
	width: 100%;
}

.is-hidden,
.is-hidden-if-noscript {
	display: none !important;
	visibility: hidden !important;
}



/* .is-faded {
	color: var(--color-faded);
	font-size: .8rem;
	font-style: italic;

	display: flex;
	flex-flow: column;
	justify-content: center;
}



.is-clear-both {
	clear: both;
}

.is-pulled-left {
	float: left;
}

.is-pulled-right {
	float: right;
}

.is-fullwidth {
	width: 100%;
}

.is-column {
	flex-flow: column;
}

.is-row,
.is-commarow {
	flex-flow: row;
}

.is-row > *:not(:first-child) {
	margin-left: var(--spacing-dense);
}

.has-icon::before,
.has-icon::after {
	font-family: 'Font Awesome 5 Free';
} */
