@charset "utf-8";
/* https://paletton.com/#uid=20P0u0ktltDkjLfogzwt2kMzu9Z */

:root {
	/* Colors */
	--color-primary-h: 36;
	--color-primary-s: 85%;
	--color-primary-l: 50%;
	--color-complement-h: 213;
	--color-complement-s: 72%;
	--color-complement-l: 35%;

	/* Mutators */
	--darken: -10%;
	--lighten: 10%;

	/* Shades */
	--shade-h: 0;
	--shade-s: 0%;
	--shade-dark-l: calc(0% + var(--lighten));
	--shade-light-l: calc(100% + var(--darken));

	/* Derived Colors */
	--color-text-h: var(--shade-h);
	--color-text-s: var(--shade-s);
	--color-text-l: var(--shade-dark-l);
	--color-link-h: var(--color-complement-h);
	--color-link-s: var(--color-complement-s);
	--color-link-l: var(--color-complement-l);

	/* Typography */
	--font-size: 1.4em;
	--font-family: 'Roboto', sans-serif;
	--font-family-title: 'Pacifico', cursive;

	/* Spacing */
	--spacing: 1rem;

	/* Borders */
	--border-size: 1px;
}
