@charset "utf-8";

:root {
	/* Breaks */
	--break-max-width: 720px;

	/* Spacings */
	--spacing-normal: .46rem;
	--spacing-dense: calc(var(--spacing-normal) * .45);
	--spacing-wide: calc(var(--spacing-normal) * 1.45);

	/* Borders */
	--border-normal: .2rem;
	--border-dense: calc(var(--border-normal) * .45);
	--border-wide: calc(var(--border-normal) * 1.45);

	/* Fonts */
	--font-size-normal: 1rem;
	--font-size-dense: calc(var(--font-size-normal) * .8);
	--font-size-wide: calc(var(--font-size-normal) * 1.2);

	/* Colors */
	/* https://paletton.com/#uid=33A0X0kh9o-7hD7c5tHlSk0roes */
	--color-primary: {{- .Site.Params.Theme.Colors.Primary | default "#405F7F" -}};
	--color-secondary: {{- .Site.Params.Theme.Colors.Secondary | default "#C4BD5B" -}};
	--color-tertiary: {{- .Site.Params.Theme.Colors.Tertiary | default "#B4536A" -}};
	--color-faded: {{- .Site.Params.Theme.Colors.Faded | default "#333" -}};
	--color-background: {{- .Site.Params.Theme.Colors.Background | default "#fff" -}};
}
