.tags {
	display: flex;
	flex-flow: column;
	justify-content: center;

	& > div {
		width: 100%;
		max-width: 420px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& > a {
			margin: .15rem;
		}
	}
}
