{{- range .AlternativeOutputFormats -}}<link rel="{{- .Rel -}}" type="{{- .MediaType.Type -}}" href="{{- .Permalink | safeURL -}}" />{{- end -}}
{{- with .PrevInSection -}}<link rel="prev" type="text/html" href="{{- .Permalink | safeURL -}}" />{{- end -}}
{{- with .NextInSection -}}<link rel="next" type="text/html" href="{{- .Permalink | safeURL -}}" />{{- end -}}
{{- with .CurrentSection -}}<link rel="index" type="text/html" href="{{- .Permalink | safeURL -}}" />{{- end -}}
{{- range .Translations -}}<link rel="alternate" type="text/html" href="{{- .Permalink | safeURL -}}" hreflang="{{- .Lang -}}" />{{- end -}}
