blockquote.person {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	$imgDims: 128px;
	& > figure > img {
		width: $imgDims;
		height: $imgDims;
	}

	& > div {
		width: calc(100% - #{$imgDims} - 4rem);

		@media screen and (max-width: 480px) {
			min-width: calc(100% - 3rem);
		}
	}
}
