.progress-bar {
	display: flex;
	flex-flow: row nowrap;
	justify-items: center;
	align-items: center;

	& > label {
		margin-right: $spacing-dense;
		width: 8rem;
		text-align: right;
	}

	& > .progress {
		flex-grow: 1;
	}
}
