{{ partial "about.html" . }}
<div class="container">
	<div class="row">
		<section class="card four columns">
			<header>
				<h4>????</h4>
			</header>
		</section>

		<section class="card four columns">
			<header>
				<h4>Tags</h4>
			</header>

			<article>
				<ul class="summary list">
				{{ range $name, $value := .Site.Taxonomies.tags }}
					<li><code><a href="{{ relLangURL "/tags/" }}{{ $name | urlize }}">{{ $name }}</a></code></li>
				{{ end }}
				</ul>
			</article>
		</section>

		<section class="card four columns">
			<header>
				<h4>Follow me</h4>
			</header>

			<article>
				<ul class="summary">
					{{ range .Site.Menus.social }}
						<li><a href="{{ .URL }}">
							<i class="fa fa-fw fa-lg fa-{{ .Name }}"> </i>
							<span>{{ .Name }}</span>
						</a></li>
					{{ end }}
				</ul>
			</article>
		</section>
	</div>

	<div class="row">
		<div class="card legal twelve columns">
			{{ .Site.Params.legal | default "Bas Stroosnijder &copy; 'the current year'" | safeHTML }}
		</div>
	</div>
</div>
