<div class="container">
	<nav class="mainnav">
		<ul class="row">
			{{ range first 2 .Site.Menus.main }}
				<li class="item two columns"><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
			<li class="logo four columns"><a href="{{ .Site.BaseURL }}"></a></li>
			<li class="item four columns">
				<form class="search">
					<input type="text" id="search" class="u-full-width" placeholder="Search..." />
					<div class="results">
						<p>test1</p>
						<p>test2</p>
						<p>test3</p>
					</div>
				</form>
			</li>
		</ul>
	</nav>
</div>
