<div class="container">
	<nav class="mainnav">
		<ul class="row">
			{{ $curpage := . }}
			{{ range first 2 .Site.Menus.main }}
				<li class="item two columns{{ if in $curpage.URL .URL }} active{{ end }}">
					<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
			{{ end }}
			<li class="logo four columns">
				<a href="{{ .Site.BaseURL }}">
					<img src="{{ .Site.Params.logo | default "https://placekitten.com/g/300/200" }}" />
				</a>
			</li>
			<li class="item four columns">
				<div id="search">
					<input type="text" class="u-full-width" placeholder="Search..." />
					<ul class="results"></ul>
				</div>
			</li>
		</ul>
	</nav>
</div>
