{{ if .Page.Pages }}
	{{ if gt .Paginator.TotalPages 1 }}
	<div class="pager">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}"><</a>
		{{ end }}

		{{ range .Paginator.Pagers }}
			<a href="{{ .URL }}">{{ .PageNumber }}</a>
		{{ end }}

		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}">></a>
		{{ end }}
	</div>
	{{ end }}
{{ else }}
	{{ if or (.Page.NextInSection) (.Page.PrevInSection) }}
	<div class="pager">
		{{ if .Page.NextInSection }}
		<a href="{{ .Page.NextInSection.URL }}"><< {{ .Page.NextInSection.Title }}</a>
		{{ end }}

		{{ if and (.Page.NextInSection) (.Page.PrevInSection) }}
			<span>|</span>
		{{ end }}

		{{ if .Page.PrevInSection }}
		<a href="{{ .Page.PrevInSection.URL }}">{{ .Page.PrevInSection.Title }} >></a>
		{{ end }}
	</div>
	{{ end }}
{{ end }}
