<section class="search popup is-hidden-if-noscript" aria-hidden="true">
	<header class="popup__header is-clear-both">
		<div class="is-pulled-left">
			<span class="popup__header__title">{{- T "search.title.text" -}}</span>
		</div>

		<div class="is-pulled-right">
			<a class="popup__header__close" data-action="close"><i class="fas fa-fw fa-lg fa-times"></i></a>
		</div>
	</header>

	{{- $placeholder := T "search.input.placeholder" -}}
	<section class="input">
		<input type="search" class="popup__subject" data-action="open" placeholder="{{- $placeholder -}}" aria-placeholder="{{- $placeholder -}}" />
		<i class="fas fa-fw fa-pulse fa-spinner"></i>
	</section>

	<section id="search-results" class="popup__body search__results list">
	</section>
</section>
