<section id="popup-search" class="search popup is-hidden" aria-hidden="true">
	<header class="popup__header">
		<div class="is-pulled-left">
			<span class="popup__header__title">{{- T "search.title.text" -}}</span>
		</div>

		<div class="is-pulled-right">
			<a class="popup__header__close"><i class="fas fa-fw fa-lg fa-times"></i></a>
		</div>
	</header>

	{{- $placeholder := T "search.input.placeholder" -}}
	<section class="input">
		<input type="search" class="popup__subject" data-target="popup-search" placeholder="{{- $placeholder -}}" aria-placeholder="{{- $placeholder -}}" />
		<i class="fas fa-fw fa-pulse fa-spinner"></i>
	</section>

	<section class="popup__body">
		<ul id="search-results" class="list search__results">
		</ul>
	</section>
</section>
