{{ $font := (.Site.Params.font | default "Poppins") }}

<!-- Third Party Styles -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous" /> -->
{{/*  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous" />  */}}
{{/*  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ $font }}" crossorigin="anonymous" />  */}}

{{ $opts := (dict "targetPath" "/styles/bundle.css" "outputStyle" "compressed" "enableSourceMaps" true) }}
{{ $bundle := resources.Get "/styles/index.scss" | resources.ToCSS $opts | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" />
