{{- if not (reflect.IsMap .) -}}{{- errorf "menu: args not a map" -}}{{- end -}}
{{- if not (isset . "title") -}}{{- errorf "menu.title not found" -}}{{- end -}}
{{- if not (isset . "items") -}}{{- errorf "menu.items not found" -}}{{- end -}}

{{- $title := (index . "title") -}}
{{- $items := (index . "items") -}}
{{- $style := (index . "style") | default "row" -}}

{{- if not (reflect.IsSlice $items) -}}{{- errorf "menu.items not a slice" -}}{{- end -}}

{{- with $items -}}
	{{- $menuClassBuilder := (slice "menu") -}}
	{{- $menuClass := (delimit $menuClassBuilder " ") -}}
	
	<nav class="{{- $menuClass -}}" aria-label="{{- $title -}}">
		{{- $itemsClassBuilder := (slice "menu_items") -}}
		{{- $itemsClassBuilder = $itemsClassBuilder | append (printf "is-%s" $style) -}}
		{{- $itemsClass := (delimit $itemsClassBuilder " ") -}}

		<ul class="{{- $itemsClass -}}">
			{{- range . -}}
				{{- partial "menu/_item" . -}}
			{{- end -}}
		</ul>
	</nav>
{{- end -}}
