
{{- $data := .Site.Data.Social -}}
{{- with .Site.Params.Social -}}

	{{- $showFollow := (index . "show-follow") | default true -}}
	{{- if $showFollow -}}
		{{- with .Accounts -}}
			<nav class="menu social" aria-label="social">
				<ul class="menu_items">
					{{- range $type, $user := . -}}
						{{- with (index $data $type) -}}
							{{- if (isset . "follow") -}}
								{{- $url := .follow -}}
								{{- $url := replace $url "%user%" $user -}}
								{{- partial "menu/_item" (dict "link" $url "text" $type "style" "icon" "icon" .icon) -}}
							{{- end -}}
						{{- end -}}
					{{- end -}}
				</ul>
			</nav>
		{{- end -}}
	{{- end -}}
{{- end -}}
