.single .translations::before,
.list .translations::after {
	content: "\f7a2";
	font-weight: 900;
}

.translations {
	position: relative;
	cursor: pointer;
}

.translations .translations__items {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;

	list-style-type: none;
}

.translations .translations__items:target {
	display: block;
}

/*
.translations:active .items,
.translations .items:hover {
	display: block;
} */
