{{- if not (reflect.IsMap .) -}}{{- errorf "menu/item: args not a map" -}}{{- end -}}
{{- if not (isset . "title") -}}{{- errorf "menu.title not found" -}}{{- end -}}
{{- if not (isset . "link") -}}{{- errorf "menu.link not found" -}}{{- end -}}

{{- $title := (index . "title") -}}
{{- $link := (index . "link") -}}
{{- $icon := (index . "icon") | default false -}}
{{- $target := (index . "target") | default "_self" -}}
{{- $rel := (slice "noopener") -}}

{{- if not $link -}}{{- warnf "menu.link not set for '%s'" $title -}}{{- end -}}

{{- if (isset . "rel") -}}
	{{- $rel = $rel | append (index . "rel") -}}
{{- end -}}

{{- with (urls.Parse $link) -}}
	{{- if .Scheme -}}
		{{- $target = "_blank" -}}
		{{- $rel = $rel | append "external" -}}
	{{- end -}}
{{- end -}}

{{- $linkClassBuilder := (slice "level-item") -}}
{{- if $icon -}}{{- $linkClassBuilder = $linkClassBuilder | append "hide-external" -}}{{- end -}}
{{- $linkClass := (delimit $linkClassBuilder " ") -}}
{{- $parsedRel := (delimit $rel " ") -}}

<a href="{{- $link -}}" title="{{- $title -}}" class="{{- $linkClass -}}" target="{{- $target -}}" rel="{{- $parsedRel -}}">
	{{- if $icon -}}
		<i class="{{- $icon -}}"></i>
	{{- else -}}
		{{- $title -}}
	{{- end -}}
</a>
