{{- if not (reflect.IsMap .) -}}{{- errorf "menu: args not a map" -}}{{- end -}}
{{- if not (isset . "scope") -}}{{- errorf "menu.scope not found" -}}{{- end -}}

{{- $args := . -}}
{{- $scope := (index . "scope") -}}

{{- if not $scope.Site.Sections -}}{{- errorf "Sections not found" -}}{{- end -}}

{{- with (where $scope.Site.Sections ".Layout" "!=" "aggregator") -}}
	{{- $items := (slice) -}}

	{{- range . -}}
		{{- $title := .Title | default .Name -}}
		{{- $url := .RelPermalink -}}
		{{- $items = $items | append (dict "title" $title "link" $url) -}}
	{{- end -}}

	{{- $merged := (merge $args (dict "items" $items)) -}}
	{{- partial "comps/menu/_index" $merged -}}
{{- end -}}
