{{- if not (reflect.IsMap .) -}}{{- errorf "menu: args not a map" -}}{{- end -}}
{{- if not (isset . "scope") -}}{{- errorf "menu.scope not found" -}}{{- end -}}
{{- if not (isset . "menu") -}}{{- errorf "menu.menu not found" -}}{{- end -}}

{{- $args := . -}}
{{- $scope := (index . "scope") -}}

{{- $menu := (index $scope.Site.Menus (index . "menu")) -}}

{{- with $menu -}}
	{{- $items := (slice) -}}

	{{- range . -}}
		{{- $title := .Title | default .Name -}}
		{{- $url := .URL -}}
		{{- $items = $items | append (dict "title" $title "link" $url) -}}
	{{- end -}}

	{{- $merged := (merge $args (dict "items" $items)) -}}
	{{- partial "comps/menu/_index" $merged -}}
{{- end -}}
