{{- if not (reflect.IsMap .) -}}{{- errorf "pages: args not of type map" -}}{{- end -}}
{{- if not (isset . "Scope") -}}{{- errorf "pages: Scope is not found" -}}{{- end -}}
{{- if not (isset . "Menu") -}}{{- errorf "pages: Menu is not found" -}}{{- end -}}

{{- $scope := (index . "Scope") -}}
{{- $menu := (index . "Menu") -}}

<nav class="container">
	{{- $pages := (index $scope.Site.Menus $menu) -}}

	<ul class="pilar has-centered">
		{{- range $pages -}}
			<li><a rel="noopener" href="{{- .URL -}}">{{- .Title -}}</a></li>
		{{- end -}}
	</ul>
</nav>
