{{- $website := .Get "website" -}}
{{- $name := .Get "name" -}}
{{- $title := .Get "title" -}}
{{- $avatar := .Get "avatar" -}}

{{- if (not $name) -}}{{- errorf "missing value for param 'name': %s" .Position -}}{{- end -}}
{{- if (not $avatar) -}}{{- errorf "missing value for param 'avatar': %s" .Position -}}{{- end -}}

{{- with $website -}}
	<a href="{{- . -}}" target="blank">
{{- end -}}

<blockquote class="person">
	{{- with $avatar -}}
		<figure>
			<img class="rounded" src="{{- . -}}" />
		</figure>
	{{- end -}}

	<div>
		{{- with $name -}}
			<h4 class="title is-5">
				{{- . -}}
			</h4>
		{{- end -}}

		{{- with $title -}}
			<h6 class="subtitle is-7">
				{{- . -}}
			</h6>
		{{- end -}}

		<div>
			{{- .Inner -}}
		</div>
	</div>
</blockquote>

{{- with $website -}}
	</a>
{{- end -}}
