{{ $category := .Get "category" | default "" }}

{{ $scratch := newScratch }}
{{ $scratch.Set "tags" (slice) }}

<!-- Filter tags on category -->
{{ $tags := .Site.Taxonomies.tags.Alphabetical }}
{{ with .Get "categories" }}
	{{ $categories := split . "," }}
	{{ range $tags }}
		{{ $pages := (where .WeightedPages ".Page.Params.categories" "in" $categories) }}
		{{ if gt (len $pages) 0 }}
			{{ $scratch.Add "tags" (slice .) }}
		{{ end }}
	{{ end }}
{{ end }}

{{ with $scratch.Get "tags" }}
	<figure>
		<div>
			{{ range . }}
				{{ with $.Site.GetPage (printf "/%s/%s" "tags" .Name) }}
					<a href="{{ .RelPermalink }}">{{- .Name -}}</a>
				{{ end }}
			{{ end }}
		</div>

		{{ with .Get "caption" }}
			<figcaption>{{- . -}}</figcaption>
		{{ end }}
	</figure>
{{ end }}
